// Styling for the footer
footer {
  background: #343a40;
  padding: 25px 0 20px;
  .footer-links {
    display: none;
  }
  .footer-links-full {
    display: block;
  }
  .social-share {
    position: absolute;
    right: 10%;
  }
}

@media only screen and (max-width: 765px) {
  footer {
    background: #ccc;
    .footer-links {
      display: block;
    }
    .footer-links-full {
      display: none;
    }
    
    .site-links {
      border-bottom: 1px solid gray;
    }
  }
 
}
